.cards
{
  margin: 0 auto;
  max-width: 880px;
  margin-top: 47.25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 879px)
{
 .cards
 {
  margin-top: 36px;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
 } 
}