.popup__title-edit
{
  width: 358px;
  margin: 0 auto;
  margin-top: 54px;
  border: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.popup__title-edit:focus
{
  outline: none;
}

@media screen and (max-width: 879px) 
{
  .popup__title-edit
  {
    margin-top: 75px;
    width: calc(100vw - 25.625%);
  }
}