.card__like-checkbox
{
  /* margin-right: 20px;
  width: 22px;
  height: 19px; 
  background-image: url(../../../images/like_unactive.svg);
  background-size: cover;
  background-position: center;
  */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.card__like-checkbox:hover + .card__like-heart
{
  opacity: 0.5;
  cursor: pointer;
}

.card__like-checkbox:checked + .card__like-heart
{
  background-image: url(../../../images/like-active.png);
}