.explorer__title {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 440px;
}

@media screen and (max-width: 879px) {
  .explorer__title {
    flex-wrap: nowrap;
    font-size: 27px;
    line-height: 33px;
    max-width: 280px;
  }
}