.popup__input {
  width: 358px;
  margin: 0 auto;
  border: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

@media screen and (max-width: 879px) {
  .popup__input {
    width: calc(100vw - 25.625%);
  }
}

.popup__input:nth-of-type(1) {
  margin-top: 54px;
  /**/
}

@media screen and (max-width: 879px) {
  .popup__input:nth-of-type(1) {
    margin-top: 75px;
    /**/
  }
}

.popup__input:nth-of-type(2) {
  margin-top: 30px;
}

@media screen and (max-width: 879px) {
  .popup__input:nth-of-type(2) {
    margin-top: 22px;
  }
}