.popup__container
{
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 879px)
{
  .popup__container
  {
    width: calc(100vw - 11.875%);
  }  
}

