.popup__close_type_image
{ 
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 880px)
{
  .popup__close_type_image
  {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}