.explorer__add
{
  width: 150px;
  height: 50px;
  border: 2px solid white;
  align-self: center;
  background-image: url(../../../images/plus.svg);
  background-color: rgba(1, 1, 1, 0);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border-radius: 2px;
}

.explorer__add:hover
{
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 879px) 
{
  .explorer__add
  {
    width: calc(100vw - 11.875%);
    margin-top: 36px;
  }  
}