.card__like {
  background-image: url(../../../images/like_unactive.svg);
  width: 22px;
  height: 19px;
  margin: 0;
  margin-right: 30px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like:active {
  background-image: url(../../../images/like-active.svg);
}