.card
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 282px;
  min-height: 361px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}